apiVersion: v1
metadata:
  name: {{ cluster_name }}
baseDomain: {{ base_dns_name }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: {{ worker_node_count | int + (hybrid_worker_count | default(0) | int) }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
networking:
  networkType: OVNKubernetes
  clusterNetwork:
{% for i in range(cluster_network_cidr | length) %}
  - cidr: {{ cluster_network_cidr[i] }}
    hostPrefix: {{ cluster_network_host_prefix[i] }}
{% endfor %}
  serviceNetwork:
{% for cidr in service_network_cidr %}
  - {{ cidr }}
{% endfor %}
  machineNetwork:
{% for network in controlplane_network %}
  - cidr: {{ network }}
{% endfor %}
platform:
  baremetal:
    apiVIPs:
{% for network in controlplane_network %}
    - {{ network | ansible.utils.nthhost(3) }}
{% endfor %}
    ingressVIPs:
{% for network in controlplane_network %}
    - {{ network | ansible.utils.nthhost(4) }}
{% endfor %}
{% if enable_fips | default(false) %}
fips: true
{% endif %}
{% if enable_techpreview | default(false) %}
featureSet: TechPreviewNoUpgrade
{% endif %}
{% if mno_capabilities_baseline_set is defined or mno_capabilities_additional_enabled | default([], true) | length > 0 %}
capabilities:
{% if mno_capabilities_baseline_set is defined %}
  baselineCapabilitySet: {{ mno_capabilities_baseline_set }}
{% endif %}
{% if mno_capabilities_additional_enabled | default([], true) | length > 0 %}
  additionalEnabledCapabilities:
{% for capability in mno_capabilities_additional_enabled %}
  - {{ capability }}
{% endfor %}
{% endif %}
{% endif %}
pullSecret: '{{ pull_secret | to_json }}'
sshKey: {{ lookup('file', ssh_public_key_file) | to_json }}
{% if use_bastion_registry | default(false) %}
imageDigestSources:
- mirrors:
  - {{ registry_host }}:{{ registry_port }}/{{ use_oc_mirror_v2 | default(true) | bool | ternary('openshift/release-images', 'ocp4/openshift4') }}
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ registry_host }}:{{ registry_port }}/{{ use_oc_mirror_v2 | default(true) | bool | ternary('openshift/release', 'ocp4/openshift4') }}
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - {{ registry_host }}:{{ registry_port }}/{{ use_oc_mirror_v2 | default(true) | bool | ternary('openshift/release', 'ocp5/openshift5') }}
  source: quay.io/openshift-release-dev/ocp-v5.0-art-dev
- mirrors:
  - {{ registry_host }}:{{ registry_port }}/edge-infrastructure
  source: quay.io/edge-infrastructure
additionalTrustBundle: |
  {{ mirror_cert.content | b64decode | indent(width=2) }}
{% endif %}
{% if setup_bastion_proxy | default(false) %}
proxy:
  httpProxy: http://{{ proxy_host | default(groups['bastion'][0]) }}:{{ proxy_port | default(3128) }}
  httpsProxy: http://{{ proxy_host | default(groups['bastion'][0]) }}:{{ proxy_port | default(3128) }}
  noProxy: {{ proxy_no_proxy | default('localhost,127.0.0.1,.' + base_dns_name + ',' + groups['bastion'][0] + ',' + controlplane_network | join(',')) }}
{% endif %}
